@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

:root {
    font-size: 2vw;
    font-family: 'Oxygen', sans-serif;
    --bg: #18202A;
    --txt: #fff;
}

body {
    background: var(--bg);
    color: var(--txt);
}

.profile {
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
}

.handle, .details {
    opacity: 0.6;
}

.details {
    padding: 0.6rem 0;
    border-bottom: 0.1rem solid;
    font-size: 0.8rem;
}

.displayname {
    font-weight: 600;
}

.pfp {
    background: url("images/LordVonBerton.png") center;
    background-size: cover;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.tweet-wrapper {
    padding: 1rem;
}

.content > a {
    color: deepskyblue;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.content > a:hover {
    transform: scale(1.05);
    display: inline-block;
}