:root {
    font-size: 2vw;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 2rem;
    color: orange;
}

p {
    font-size: 0.8rem;
}

a {
    display: inline-block;
}

p > span {
    color: orange;
}

#savebutton {
}

body {
    display: flex;
}

.profilente {
    background: url("images/entchensuju-foto.jpg") center;
    background-size: cover;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.names {
    opacity: 0.4;
}

.names:hover {
    transform: scale(1.1) translate(1rem, 0);
    transition: 0.3s ease-in-out;
}

.text {
    margin: 2rem 0.5rem 10rem 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #ffffe3;
    border-bottom: 0.1rem solid;
    border-top: 0.1rem solid;
    border-right: 0.1rem solid;
    border-left: 0.1rem solid;
}

.rechts {
    float: right;
    margin-top: 9rem;
    margin-right: 20rem;
    margin-bottom: 10rem;
    padding-left: 1rem;
    background-color: #ffffe3;
    border-bottom: 0.1rem solid;
    border-top: 0.1rem solid;
    border-right: 0.1rem solid;
    border-left: 0.1rem solid;
}
