@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

:root {
    font-size: 2vw;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 1.5rem;
    color: white
}

.deneux {
    text-align: center;
}

#merlintext {

}

#headline {
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
}

.rolleinjibbitlangwieeinschal {

}

.hallo {
    display: flex;
    margin: auto;
    align-items: start;
    max-width: 80%;
}

body {
    background-color: black;
}

.zahlmeinewarenurcash {
    padding-left: 1rem;
}

img {
    margin-right: 1rem;
}

.unddiepreisesindbrutal {
    text-align: center;
    font-weight: 800;
    padding-top: 1rem;
    font-size: 3rem;
}

.content > a {
    color: blue;
    transition: 0.3s;
}


.content > a:hover {
    transform: scale(1.05);
    display: inline-block;
}
